<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>workshops</key>
	<array>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>name</key>
			<string>Data Science</string>
			<key>tutor</key>
			<string>Arthur Fortes</string>
			<key>description</key>
			<string>Personalização de conteúdo: Utilizando sistemas de recomendação baseado no comportamento de usuários</string>
		</dict>
        <dict>
            <key>id</key>
            <integer>2</integer>
            <key>name</key>
            <string>Android</string>
            <key>tutor</key>
            <string>Estevão Coelho</string>
            <key>description</key>
            <string>Android básico ao avançado – App do zero até a loja! </string>
        </dict>
        <dict>
            <key>id</key>
            <integer>3</integer>
            <key>name</key>
            <string>iOS</string>
            <key>tutor</key>
            <string>Yasmin Benatti</string>
            <key>description</key>
            <string>Criando um App iOS em Swift </string>
        </dict>
        <dict>
            <key>id</key>
            <integer>4</integer>
            <key>name</key>
            <string>I.A.</string>
            <key>tutor</key>
            <string>Gabriel Rovina</string>
            <key>description</key>
            <string>Sorria, você está sendo analisado</string>
        </dict>
        <dict>
            <key>id</key>
            <integer>5</integer>
            <key>name</key>
            <string>Firebase</string>
            <key>tutor</key>
            <string>Guilherme Lemmi</string>
            <key>description</key>
            <string>Firebase - criando um chat real time com Firebase e Javascript</string>
        </dict>
        <dict>
            <key>id</key>
            <integer>6</integer>
            <key>name</key>
            <string>Web</string>
            <key>tutor</key>
            <string>Guilherme Lemmi</string>
            <key>description</key>
            <string>Desenvolvimento de aplicações frontend com ReactJS</string>
        </dict>
        <dict>
            <key>id</key>
            <integer>7</integer>
            <key>name</key>
            <string>UI/UX Design</string>
            <key>tutor</key>
            <string>Leonardo Neris</string>
            <key>description</key>
            <string>Design de interfaces - A ideia começa a ganhar forma</string>
        </dict>
        <dict>
            <key>id</key>
            <integer>8</integer>
            <key>name</key>
            <string>Agile</string>
            <key>tutor</key>
            <string>Rafa Raza</string>
            <key>description</key>
            <string>O poder da agilidade guiada a dados</string>
        </dict>
	</array>
</dict>
</plist>
